/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */

/* VARIABLES */

:root{
    --body-font: Arial, sans-serif;
    --nav-font: 'Bebas Neue', sans-serif;

    --box-shadow: -6px 6px 10px var(--dk-red);
    --box-shadow-sm: -4px 4px 6px var(--dk-red);

    --white: #fff;
    --black: #000000;
    --lightgray: #d3d3d3;
    --dimgray: #696969;
}

/* MAIN PAGE STUFF */
header {
    position: sticky;
    top: 0;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 5px 0;
}
body {
    background-color: var(--lightgray);
    font-family: var(--body-font);
}
.page-container {
    position: relative;
    min-height: 100vh;
}
.content-wrap {
    padding-bottom: 4rem;
}
footer {
    position: absolute;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
}
/* END MAIN STUFF */

/* NAVIGATION BAR */
nav {
    background-color: var(--black);
    text-align: center;
    padding: 8px 0px;
}
nav a {
    color: var(--white);
    text-decoration: none;
    margin: 0;
    padding: 14px 30px;
    border-radius: 0px;
}
nav a:hover {
    background-color: var(--lightgray);
    color: var(--black);
}
/* END NAVIGATION */

/* PROJECTS */
.container {
    width: 90%;
    height: 90%;
    padding: auto;
    margin: auto;
    border-radius: none;
}
.container section {
    max-width: 600px;
    margin: 50px auto;
    margin-top: 50px;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.container h1 {
    font-size: 50pt;
    font-weight: bold;
    text-align: center;
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px 400px 400px;
    gap: 100px 100px;
    justify-items: start;
    width: 90%;
    height: 90%;
    padding: 20px;
    margin: 0 auto;
}

.projects img{
    backface-visibility: hidden;
    position: absolute;
    padding-left: 100px;
}

.projects img:hover{
    transform: rotateY(180deg);
}

.project1 {
    grid-column: auto;
    grid-row: inherit;
}
.project2 {
    grid-column: auto;
    grid-row: inherit;
}
.project3 {
    grid-column: auto;
    grid-row: inherit;
}
.project4 {
    grid-column: auto;
    grid-row: inherit;
}
.projects h1 {
    color: var(--black);
    font-size: 90px;
    padding-bottom: 20px;
    text-decoration: none;
    text-align: justify;
}
/* END PROJECTS */

/* HOME PAGE */
.about-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 100px 100px;
    width: 90%;
    height: 90%;
    padding: 20px;
    margin: 50px auto;
    min-width: none;
    justify-content: center;
}
.about1 {
    grid-column: auto;
    grid-row: inherit;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.about2 {
    grid-column: auto;
    grid-row: inherit;
}
.about-grid h1 {
    font-size: 50pt;
    font-weight: bold;
    padding-top: 10px;
    text-align: left;
}
.about-grid h2 {
    font-size: 40pt;
    padding-top: 5px;
    padding-bottom: 15px;
}
.about-grid p {
    padding-bottom: 15px;
    font-size: 14pt;
}
/* END HOME PAGE */

section {
    background-color: var(--white);
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* FORM STYLES */
.form section {
    max-width: 600px;
    margin: 20px auto;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.form button {
    background-color: var(--black);
    color: var(--white);
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    font-size: 15pt;
    margin: auto;
    margin-top: 20px;
    font-family: var(--nav-font);
}
.form button:hover{
    background-color: var(--lightgray);
    color: var(--black);
}
.contact-form{
    width:95%;
}
.form h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
    color: var(--black);
    text-align: center;
}
.form h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
    color: var(--dimgray);
}
.form ul {
    list-style: none;
    padding: 0;
}
.form li {
    margin-bottom: 8px;
}
/* END FORM */

/* RESUME */
.resume section {
    max-width: 600px;
    margin: 20px auto;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.resume h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
    color: var(--black);
    text-align: center;
}
.resume h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
    color: var(--dimgray);
}
.resume h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: var(--dimgray);
}
.resume h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    font-weight: bold;
    text-align: center;
}
.resume ul {
    list-style: none;
    padding: 0;
}
.resume li {
    margin-bottom: 8px;
}
/* END RESUME */

/* ANIMATION */

/* PHONE SCREEN CHANGES */
@media only screen and (min-width:800px) {
    nav {
        background-color: var(--black);
        text-align: right;
        padding: 8px 0px;
    }
    nav a {
        color: var(--white);
        text-decoration: none;
        margin: 0;
        padding: 14px 20px;
        border-radius: 0px;
    }
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px 400px;
        gap: 20px auto;
        width: 90%;
        height: 90%;
        padding: 20px;
        margin: 50px auto;
    }
    .about-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px auto;
        width: 90%;
        height: 90%;
        padding: 20px;
        margin: 50px auto;
    }
}
/* END PHONE SCREEN CHANGES */
