/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */

/* VARIABLES */

:root{
    --body-font: Arial, sans-serif;
    --nav-font: 'Bebas Neue', sans-serif;

    --box-shadow: -6px 6px 10px var(--dk-red);
    --box-shadow-sm: -4px 4px 6px var(--dk-red);

    --white: #fff;
    --black: #000000;
    --lightgray: #d3d3d3;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 5px 0;
}
body {
    background-color: var(--white);
    font-family: var(--body-font);
}
.page-container {
    position: relative;
    min-height: 100vh;
}
.content-wrap {
    padding-bottom: 2.5rem;
}
footer {
    position: absolute;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
}
nav {
    background-color: var(--black);
    text-align: center;
    padding: 8px 0px;
}
nav a {
    color: var(--white);
    text-decoration: none;
    margin: 0;
    padding: 14px 30px;
    border-radius: 0px;
}
nav a:hover {
    background-color: var(--white);
    color: var(--black);
}
.container {
    width: 90%;
    height: 90%;
    padding: 20px;
    margin: 50px auto;
    border-radius: none;
}
.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px 400px 400px;
    gap: 100px 100px;
    width: 90%;
    height: 90%;
    padding: 20px;
    margin: 50px auto;
}
.project1 {
    grid-column: auto;
    grid-row: inherit;
    border: 5px solid var(--black);
}
.project2 {
    grid-column: auto;
    grid-row: inherit;
    border: 5px solid var(--black);
}
.project3 {
    grid-column: auto;
    grid-row: inherit;
    border: 5px solid var(--black);
}
.project4 {
    grid-column: auto;
    grid-row: inherit;
    border: 5px solid var(--black);
}
.projects h1 {
    font-size: xx-large;
    padding: 10px 10px;
}
.about-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px;
    gap: 100px 100px;
    width: 90%;
    height: 90%;
    padding: 20px;
    margin: 50px auto;
}
.about1 {
    grid-column: auto;
    grid-row: inherit;
}
.about2 {
    grid-column: auto;
    grid-row: inherit;
}
.about-grid h1 {
    font-size: 50pt;
    font-weight: bold;
    padding-top: 10px;
}
.about-grid h2 {
    font-size: 40pt;
    padding-top: 2px;
    padding-bottom: 10px;
}
section {
    background-color: var(--white);
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.projects h1 {
    color: var(--black);
    font-size: 90px;
    padding-bottom: 20px;
    text-decoration: none;
    text-align: justify;
}
.container h1 {
    color: var(--black);
    font-size: 90px;
    padding-bottom: 0;
    text-decoration: none;
    text-align: left;
}
h2 {
    color: var(--black);
}
a {
    color: var(--black)
    text-decoration: none;
}

/* FORM STYLES */

.form {
    text-align: left;
    width: 100%;
    margin: 20px auto;
    background-color: var(--black);
    border-radius: none;
}

.form h1{
    font-size: 3rem;
    font-family: var(--body-font);
    text-align: center;
    color: var(--white);
    padding: 5px;
    margin-bottom: 10px;
}

.form label {
    display: block;
    margin-bottom: 8px;
    color: var(--white);
    font-size: 1.5rem;
}

.form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.form button {
    background-color: var(--black);
    color: var(--white);
    padding: 5px 30px;
    border: none;
    cursor: pointer;
    border-radius: none;
    font-size: 2rem;
    margin: 0 auto;
    font-family: var(--nav-font);
    font-weight: bold;
}

.form button:hover{
    background-color: var(--white);
    color: var(--black);
}
.contact-form{
    width:95%;
}
@media only screen and (min-width:800px) {
    nav {
        background-color: var(--black);
        text-align: right;
        padding: 8px 0px;
    }
    nav a {
        color: var(--white);
        text-decoration: none;
        margin: 0;
        padding: 14px 20px;
        border-radius: 0px;
    }
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px 400px;
        gap: 20px auto;
        width: 90%;
        height: 90%;
        padding: 20px;
        margin: 50px auto;
    }
    .about-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px;
        gap: 20px auto;
        width: 90%;
        height: 90%;
        padding: 20px;
        margin: 50px auto;
    }
}
